<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8" />
<title>ランキング - そこんところ工房</title>
<!-- <link rel="stylesheet" href="./main.css"> -->


<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>


var module = angular.module('myApp', []);
module.controller('myController', function($scope, $http) {

	var game_name = getQueryGameName();
	$scope.gameTitle = getGameTitle(game_name);

	/* ランキング総数取得 */

    $http({
        url: "http://ec2-54-65-78-59.ap-northeast-1.compute.amazonaws.com:8080/api/game/scores/"+game_name+"/count",
        method: 'GET'
    }).success(function (data, status, headers, config) {
    	$scope.total = data.count;
    });

	/* higher ranking */
    $http({
        url: "http://ec2-54-65-78-59.ap-northeast-1.compute.amazonaws.com:8080/api/game/scores/"+game_name+"/ranking",
        method: 'GET'
    }).success(function (data, status, headers, config) {
    	var i = 1
    	for(var key in data){
    		data[key].ranking = i;
    		i ++;
    	}
    	$scope.rankingTable = data;
    });


	/* ログインアカウントのランキング */
    $http({
        url: "http://ec2-54-65-78-59.ap-northeast-1.compute.amazonaws.com:8080/api/game/scores/" + game_name +"/me",
        method: 'GET',
        withCredentials: true
    }).success(function (data, status, headers, config) {
    	$scope.myRankingInfo = data;
    	$scope.isLogin = true;
    }).error(function (data, status, headers, config) {
		$scope.isLogin = false;
    });

	$scope.changeUserName = function() {
	    $http({
	        url: "http://ec2-54-65-78-59.ap-northeast-1.compute.amazonaws.com:8080/api/game/users/me",
	        method: 'POST',
	        withCredentials: true,
	        data: {
	        	user_name: $scope.user_name
	        },
	        headers: {
				"Content-Type": "application/json"
			}
	    }).success(function (data, status, headers, config) {
	    	alert("ユーザー名を変更しました！");
	    }).error(function (data, status, headers, config) {
	    	if(status == 401){
	    		alert("ログインセッションが切れています。再ログインしてください。");
	    	}else{
	    		alert("変更処理に失敗しました。");
	    	}
	    });
	};

});




// URLのクエリ(game_name)を取得する
function getQueryGameName() {
    var query = window.location.search.substring(1);
    var vars = query.split("&");

    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] === "game_name") {
            return pair[1];
        }else{
        	return config.default.game_name;
        }
    }
}

function getGameTitle(game_name){

	if(!game_name){
		return config.default.gameTitle
	}
	return config.gameList[game_name];
}

var config = {
	default: {
		game_name: "honocar",
		gameTitle: "ほのCar!"
	},
	gameList: {
		honocar: "ほのCar!"
	}
}


</script>

</head>
<body>


<div ng-controller="myController">


		<h1>スコアランキング {{gameTitle}}</h1>

<!-- 1.ドロップダウンメニューの作成 -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
 
            <ul class="nav navbar-nav">
 				<li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                	SELECT GAME <b class="caret"></b>
	                </a>
	                <ul class="dropdown-menu">
						<li><a href="?game_name=honocar">ほのCar!</a></li>
	                </ul>
				</li>
            </ul>

            <!-- 1.ドロップダウンメニューの作成 -->
            <ul class="nav navbar-nav navbar-right">
				<li ng-show="!isLogin">
					<a href="http://ec2-54-65-78-59.ap-northeast-1.compute.amazonaws.com:8080/api/twitter/oauth/login?game_name=ranking">LOGIN</a>
				</li>
				<li ng-show="isLogin">
					<a href="http://ec2-54-65-78-59.ap-northeast-1.compute.amazonaws.com:8080/api/twitter/oauth/logout?game_name=ranking">LOGOUT</a>
				</li>
			</ul>
        </div>
    </nav>


	<div class="container">

	    <div ng-show="isLogin">
			<div class = "text-center jumbotron">
				<p>{{myRankingInfo.user_name}}さんの最高スコアは....<strong><big>{{myRankingInfo.point}}</big></strong>台よけたー！</p>
				<p>全プレイヤー{{total}}人中、<strong>第{{myRankingInfo.ranking}}位！！（・８・）</strong></p>
			</div>
			<h4/>ユーザー名の変更</h4>
			<p>
				<form class="form-inline">
					<div class="form-group">
						<input type="text" class="form-control" id="text" placeholder="新しいユーザー名" size="20" ng-model="user_name">
					</div>
					<button type="button" class="btn btn-primary" ng-click="changeUserName()">送信 ≫</button>
				</form>
			</p>
		</div>

		<div>		
			<h2 class = "text-center">TOP 10</h2>
		    <table class="table">
				<tr>
					<th>RANKING</th>
					<th>NAME</th>
					<th>SCORE</th>
			    </tr>
			    <tr ng-repeat="result in rankingTable">
		            <td>{{result.ranking}}</td>
				    <td>{{result.user_name}}</td>
		            <td>{{result.point}}</td>
		        </tr>
		    </table>
		</div>
	</div>
    <footer>
	    <div class="container" id="contact">
	        <div class="row">
	            <div class="col-lg-10 col-lg-offset-1 text-center">
	                <ul class="list-inline">
	                    <li>
	                        <a href="mailto:sokontokoro.factory@gmail.com"><i class="ffa fa-envelope-o fa-fw fa-3x"></i></a>
	                    </li>
	                    <li>
	                        <a href="https://twitter.com/t28_tatsuya"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
	                    </li>
	                </ul>
	                <hr class="small">
	                <p class="text-muted">Copyright &copy; そこんところ工房 2015</p>
	            </div>
	        </div>
	    </div>
	</footer>
</div>

</body>
</html>